In [1]:
!dir C:\Users\Apex\Downloads\SAD\Dash_Project\*.csv

 Volume in drive C is Boot
 Volume Serial Number is CC2A-116A

 Directory of C:\Users\Apex\Downloads\SAD\Dash_Project

05-11-2016  17:05        14,010,009 deliveries.csv
05-11-2016  17:05           105,993 matches.csv
26-05-2017  12:32            69,453 match_detail.csv
25-05-2017  17:57         6,896,576 Player_details.csv
               4 File(s)     21,082,031 bytes
               0 Dir(s)  51,058,991,104 bytes free

In [2]:
import pandas as pd
import matplotlib as plt

%matplotlib inline

In [11]:
file1 = pd.read_csv('C:/Users/Apex/Downloads/SAD/Dash_Project/deliveries.csv')

In [10]:
file1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,1,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
details=pd.DataFrame(file1)

In [6]:
del details['is_super_over']

In [7]:
details=details.drop(['batting_team','bowling_team','non_striker','legbye_runs','penalty_runs','wide_runs','bye_runs','noball_runs','extra_runs','inning'],axis=1)

In [9]:
details.head()

,match_id,over,ball,batsman,bowler,batsman_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,1,SC Ganguly,P Kumar,0,1,NaN,NaN,NaN
1,1,1,2,BB McCullum,P Kumar,0,0,NaN,NaN,NaN
2,1,1,3,BB McCullum,P Kumar,0,1,NaN,NaN,NaN
3,1,1,4,BB McCullum,P Kumar,0,0,NaN,NaN,NaN
4,1,1,5,BB McCullum,P Kumar,0,0,NaN,NaN,NaN

In [12]:
details.rename(columns=lambda x: x[0:].upper(), inplace=True)

In [13]:
details.head()

,MATCH_ID,OVER,BALL,BATSMAN,BOWLER,BATSMAN_RUNS,TOTAL_RUNS,PLAYER_DISMISSED,DISMISSAL_KIND,FIELDER
0,1,1,1,SC Ganguly,P Kumar,0,1,NaN,NaN,NaN
1,1,1,2,BB McCullum,P Kumar,0,0,NaN,NaN,NaN
2,1,1,3,BB McCullum,P Kumar,0,1,NaN,NaN,NaN
3,1,1,4,BB McCullum,P Kumar,0,0,NaN,NaN,NaN
4,1,1,5,BB McCullum,P Kumar,0,0,NaN,NaN,NaN

In [15]:
details.to_csv('Player_details1.csv')

In [16]:
file2 = pd.read_csv('C:/Users/Apex/Downloads/SAD/Dash_Project/matches.csv')

In [17]:
file2.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [18]:
matches=pd.DataFrame(file2)

In [23]:
matches= matches.drop(['result','city','dl_applied','venue','umpire1','umpire2','umpire3','season','team1','team2','win_by_runs','win_by_wickets','toss_decision'],axis=1)

In [24]:
matches.rename(columns=lambda x: x[0:].upper(), inplace=True)

In [117]:
matches.head()

,ID,SEASON,DATE,TEAM1,TEAM2,TOSS_WINNER,TOSS_DECISION,WINNER,WIN_BY_RUNS,WIN_BY_WICKETS,PLAYER_OF_MATCH
0,1,2008,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,140,0,BB McCullum
1,2,2008,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,33,0,MEK Hussey
2,3,2008,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,Delhi Daredevils,0,9,MF Maharoof
3,4,2008,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,0,5,MV Boucher
4,5,2008,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,Kolkata Knight Riders,0,5,DJ Hussey

In [25]:
matches.to_csv('match_detail1.csv')